// .header {
//     position: sticky;
// }

h1 {
    font-weight: bold;
}

h4 {
    color: #fba81f;
}

.btn {
    border-radius: 38px;
    font-weight: 600;
    background-color: #f87537;
    color: white;
    padding: 13px;
}
.btn:hover {
    background-color: #fba81f;
}

.name {
    font-size: 50px;
    // font-weight: 100;
    // font-family: 'Qahiri';
}

.container {
    padding: 30px 50px;

    @media screen and (max-width: 425px) {
        padding: 15px 30px;
    }

    &.navbar {
        padding: 0px 50px;
    }
}

.header {
    .navbar-nav {
        .nav-item {
            margin: 0px 20px;
        }
    }
}

.home {
    .reverse {
        @media screen and (max-width: 425px) {
            flex-direction: column-reverse !important;
        }
    }

    .home-text {
        padding: 10rem 0rem;

        @media screen and (max-width: 425px) {
            padding-bottom: 15px;
        }

        .head-text {
            margin-bottom: 0px;
            // font-weight: bold;

            @media screen and (max-width: 425px) {
                margin-top: -140px;
            }
            @media screen and (max-width: 337px) {
                font-size: 18px;
            }
        }
        h1 {
            margin-bottom: 0px;
        }
        h4 {
            font-weight: bold;
        }
        .desc {
            color: gray;
        }
    }

    .head-image {
        background-image: url(assets/shapes/blob.svg);
        background-position: center;
        background-repeat: no-repeat;
        max-height: 570px;
        overflow: hidden;

        @media screen and (min-width: 426px) and (max-width: 767px) {
            margin-top: -140px;
        }

        @media screen and (max-width: 425px) {
            max-height: 335px;
        }
        @media screen and (min-width: 992px) and (max-width: 1399px) {
            max-height: 485px;
        }

        img {
            width: 100%;
            height: auto;
            position: relative;
            bottom: 115px;

            @media screen and (min-width: 992px) and (max-width: 1199px) {
                bottom: 28px;
            }

            @media screen and (max-width: 767px) {
                bottom: 0px;
            }

            @media screen and (max-width: 425px) {
                border-radius: 50%;
            }
        }
    }
}

.about {
    // height: 260px;
    background-color: #f8f9fa;

    .socmed {
        img {
            max-width: 40px;
            margin: 0px 5px;
            /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
            filter: gray; /* IE5+ */
            -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
            -webkit-transition: all 0.5s ease-in-out;

            @media screen and (max-width: 425px) {
                max-width: 30px;
            }
        }

        img:hover {
            filter: none;
            -webkit-filter: grayscale(0);
            -webkit-transform: scale(1.01);
        }
    }

    h2 {
        font-weight: bold;
    }
}

.language {
    background-color: #f8f9fa;

    .language-icon {
        img {
            max-width: 75px;
            margin: 5px 10px;

            @media screen and (max-width: 425px) {
                max-width: 55px;
            }
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            max-width: 32rem;
        }
    }
}

.contact {
    .contact-form {
        max-width: 700px;

        .form-label {
            float: left;
            font-weight: bold;
            color: #fba81f;
        }

        .btn {
            max-width: 25rem;
            width: -webkit-fill-available;
        }
    }
}

.footer {
    background-color: black;
    color: white;

    .top-footer {
        padding-bottom: 1rem;
        border-bottom: 0.5px solid gray;

        .contact-footer {
            text-align: right;
            padding: 0px 12px;

            h2 {
                margin-bottom: 1rem;
                font-weight: bold;
                font-family: "Qahiri";
            }
            a {
                margin-bottom: 0px;
            }
            p {
                color: gray;
            }

            @media screen and (max-width: 328px) {
                text-align: left;
            }
        }

        .links-footer {
            font-size: large;
        }

        a {
            color: gray;
            display: grid;
            text-decoration: none;
        }
        a:active {
            color: white;
        }
    }

    .bottom-footer {
        a {
            color: #7952b3;
            text-decoration: none;
        }
    }
}

.home,
.about,
.project,
.language,
.contact {
    @media screen and (max-width: 425px) {
        text-align: center;
        padding: 40px 0px;
    }
}
