h1 {
  font-weight: bold;
}

h4 {
  color: #fba81f;
}

.btn {
  border-radius: 38px;
  font-weight: 600;
  background-color: #f87537;
  color: white;
  padding: 13px;
}

.btn:hover {
  background-color: #fba81f;
}

.name {
  font-size: 50px;
}

.container {
  padding: 30px 50px;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 15px 30px;
  }
}

.container.navbar {
  padding: 0px 50px;
}

.header .navbar-nav .nav-item {
  margin: 0px 20px;
}

@media screen and (max-width: 425px) {
  .home,
  .about,
  .project,
  .language,
  .contact {
    text-align: center;
    padding: 40px 0px;
  }
}

@media screen and (max-width: 425px) {
  .home {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .home .reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

.home .home-text {
  padding: 10rem 0rem;
}

@media screen and (max-width: 425px) {
  .home .home-text {
    padding-bottom: 15px;
  }
}

.home .home-text .head-text {
  margin-bottom: 0px;
}

@media screen and (max-width: 425px) {
  .home .home-text .head-text {
    margin-top: -140px;
  }
}

@media screen and (max-width: 337px) {
  .home .home-text .head-text {
    font-size: 18px;
  }
}

.home .home-text h1 {
  margin-bottom: 0px;
}

.home .home-text h4 {
  font-weight: bold;
}

.home .home-text .desc {
  color: gray;
}

.home .head-image {
  background-image: url(assets/shapes/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-height: 570px;
  overflow: hidden;
  border-radius: 70%;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .home .head-image {
    margin-top: -140px;
  }
}

@media screen and (max-width: 425px) {
  .home .head-image {
    max-height: 335px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .home .head-image {
    max-height: 485px;
  }
}

.home .head-image img {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 115px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home .head-image img {
    bottom: 28px;
  }
}

@media screen and (max-width: 767px) {
  .home .head-image img {
    bottom: 0px;
  }
}

@media screen and (max-width: 425px) {
  .home .head-image img {
    border-radius: 50%;
  }
}

.about {
  background-color: #f8f9fa;
}

.about .socmed img {
  max-width: 40px;
  margin: 0px 5px;
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 425px) {
  .about .socmed img {
    max-width: 30px;
  }
}

.about .socmed img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.about h2 {
  font-weight: bold;
}

.language {
  background-color: #f8f9fa;
}

.language .language-icon img {
  max-width: 75px;
  margin: 5px 10px;
}

@media screen and (max-width: 425px) {
  .language .language-icon img {
    max-width: 55px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .language .language-icon {
    max-width: 32rem;
  }
}

.contact .contact-form {
  max-width: 700px;
}

.contact .contact-form .form-label {
  float: left;
  font-weight: bold;
  color: #fba81f;
}

.contact .contact-form .btn {
  max-width: 25rem;
  width: -webkit-fill-available;
}

.footer {
  background-color: black;
  color: white;
}

.footer .top-footer {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid gray;
}

.footer .top-footer .contact-footer {
  text-align: right;
  padding: 0px 12px;
}

.footer .top-footer .contact-footer h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "Qahiri";
}

.footer .top-footer .contact-footer a {
  margin-bottom: 0px;
}

.footer .top-footer .contact-footer p {
  color: gray;
}

@media screen and (max-width: 328px) {
  .footer .top-footer .contact-footer {
    text-align: left;
  }
}

.footer .top-footer .links-footer {
  font-size: large;
}

.footer .top-footer a {
  color: gray;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
}

.footer .top-footer a:active {
  color: white;
}

.footer .bottom-footer a {
  color: #7952b3;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */